<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simons.bletracker" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".BLETrackerApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.OrderListActivity"
            android:label="@string/title_activity_order_list" >
        </activity>
        <activity
            android:name=".activities.LabelsListActivity"
            android:label="@string/title_activity_labels_list" >
        </activity>

        <service
            android:name=".services.GPSService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".services.BluetoothLeDiscoveryService"
            android:enabled="true" />

        <activity
            android:name=".activities.ScanLabelActivity"
            android:label="@string/title_activity_scan_label" >
        </activity>
    </application>

</manifest>
