<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simons.bluetoothtracker"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <application
        android:name="com.simons.bluetoothtracker.BluetoothTrackerApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.simons.bluetoothtracker.DeviceScanActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.simons.bluetoothtracker.DeviceControlActivity"
            android:screenOrientation="portrait" >
        </activity>
        <service
            android:name="com.simons.bluetoothtracker.BluetoothLeService"
            android:enabled="true" />
    </application>

</manifest>