<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<meta http-equiv="Content-Language" content="en" />
		
		<meta name="description" content="whereAt Label, whereAt Shield and whereAt Asset Tracking, all connected via the whereAt Cloud." />
		
        <link rel="shortcut icon" HREF="favicon.png" type="image/png" />
		
		<link rel="stylesheet" href="styles.css" type="text/css" />
        
		<title>whereAt</title>
        
        <script src="jquery.min.js" type="text/javascript"></script>
	</head>
    <body>
    	
        <div class="wrapper">
            <div class="container">
                <div id="header">
                    <a href="#"><div id="logonav"></div></a>
                    <div id="headernav" class="menu">
                        <ul>
                            <li><a href="#">Products</a>
                                <ul>
                                    <li><a href="#">Label</a></li>
                                    <li><a href="#">Shield</a></li>
                                    <li><a href="#">Asset Tracking</a></li>
                                </ul>
                            </li>
                            <li>//</li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="wrapper lightblue">
            <div class="container">
                <div class="content">
                    asdffdaasdffdsa
                </div>
            </div>
        </div>
        
        <div class="wrapper footerbg">
            <div class="container">
                <div id="footer">
                    &copy; 2014, whereAt Industries. All rights reserved.
                    <div id="disclaimer">
                        The whereAt logo, the whereAt Label logo, the whereAt Cloud logo and the whereAt Shield logo are registered trademarks of whereAt Industries and may not be copied or reproduced without written permission.
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>